@charset "UTF-8";

* {margin: 0; padding: 0; box-sizing: border-box; outline: none;}
html {width: 100%; height: 100%;}
body {position: relative; font-family: "Pretendard", "맑은 고딕", "Malgun Gothic", sans-serif; font-size: 16px; color: #666; letter-spacing: 0; line-height: 1; width: 100%; height: 100%; -webkit-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -ms-text-size-adjust: 100%; line-height: 1; overflow-x: hidden;}
body, div, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p, form, fieldset, table, tr, th, td {margin: 0; padding: 0;}
ul, ol, li {list-style: none;}
img, fieldset {border: none; vertical-align: top;}
legend, caption {position: absolute; top: -9999px; left: -9999px; z-index: -1;}
textarea, button {vertical-align: middle;}
input, select {vertical-align: middle; background: #fff; border: 1px solid #ccc; font-family: "HyundaiSansTextKRRegular", "맑은 고딕", "Malgun Gothic", sans-serif; color: #999; letter-spacing: 0; border-radius: 0; font-size: 16px;}
input {padding: 3px 10px; height: 32px;}
option {padding: 3px 10px;}
input[type="radio"], input[type="checkbox"] {border: 0; padding: 0; height: auto; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}
input[type="password"] {height: 40px; border: 1px solid #ccc; color: #999; background: #fff; -webkit-appearance: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}
input[type="text"] {width: 278px; background: #fff; -webkit-appearance: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}
select {padding: 5px; height: 40px; border: 1px solid #ccc; background: #fff;}
textarea {padding: 10px; vertical-align: middle; background: #fff; border: 1px solid #ccc; font-family: "HyundaiSansTextKRRegular", "맑은 고딕", "Malgun Gothic", sans-serif; color: #999; font-size: 16px; letter-spacing: 0; -webkit-appearance: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; border-radius: 0;}
a {text-decoration: none; color: #666;}
a:hover, a:focus, a:active {text-decoration: none;}
table {border-collapse: collapse; width: 100%;}
button {background: none; border: none; padding: 0; margin: 0; cursor: pointer; overflow: visible; white-space: nowrap; font-size: 16px; font-family: "HyundaiSansTextKRMedium", "맑은 고딕", "Malgun Gothic", sans-serif;}
button:active {outline: none;}
button::-moz-focus-inner {padding: 0; border: 0;}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {display: block;}
.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after{display:none;}
.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after{display:none;}

body {overflow-x: hidden;}
/* body::-webkit-scrollbar {width: 0;} */
body.stop_scroll {overflow-y: hidden;}
#wrap {/* overflow: hidden; */ position:relative; width: 100%;}
#wrap.stop_scroll {overflow-y: hidden; height:100vh;}
.inner{position:relative; margin:0 auto; width:1280px;}

header {display: flex; justify-content: space-between; align-items: center; position: fixed; top: -192px; left: 0; z-index: 9; width: 100%; padding: 80px 100px; box-sizing: border-box;}
header .gnb {display: flex;}
header .gnb li {margin-right: 40px;}
header .gnb li:last-of-type {margin-right: 0;}
header .gnb li a {color: #fff;}
header .utils {display: flex; align-items: center;}
header .utils a {font-weight: 500; color: #fff;}
header .utils .lang {display: block; width: 21px; height: 21px; margin-right: 26px; background: url("../images/icon-lang.png") no-repeat center center / cover; text-indent: -9999px;}
header .utils .family-site {position: relative; padding-right: 27px; font-size: 14px;}
header .utils .family-site::after {content: ""; display: block; position: absolute; top: 50%; right: 0; transform: translateY(-50%); width: 9px; height: 6px; background: url("../images/icon-arrow-down.png") no-repeat center center / cover;}

.contents > section:not(.video) {position: relative; z-index: 2;}

.contents .intro {width: 100%; height: 300vh; background: url("../images/intro-bg.jpg") no-repeat top center / cover;}
.contents .intro > div {height: 100vh;}
.contents .intro .top-area {position: relative; width: 100%; color: #fff;}
.contents .intro .top-area .text-wrap {position: absolute; top: 60%; left: 50%; transform: translate(-50%, -50%); text-align: center; opacity: 0;}
.contents .intro .top-area .text-wrap .sub-title {margin-bottom: 40px; font-size: 18px; font-weight: 700; letter-spacing: 15px;}
.contents .intro .top-area .text-wrap .title {font-family: "NanumMyeongjo"; font-size: 80px; font-weight: 400;}
.contents .intro .middle-area {padding: 70px 0; box-sizing: border-box;}
.contents .intro .middle-area p {font-family: "NanumMyeongjo"; font-size: 42px; color: #fff; text-align: center; line-height: 1.5; opacity: 0.4;}
.contents .intro .middle-area p.on {opacity: 1;}
.contents .intro .middle-area p:nth-of-type(6) {margin-top: 70px;}
.contents .intro .bottom-area {position: relative;}
.contents .intro .bottom-area img:first-of-type {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1;}
.contents .intro .bottom-area img:last-of-type {position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);}

.contents .space {padding: 442px 0 0 120px; box-sizing: border-box; background-color: #efece5; transition: 0.8s 0.5s ease-out;}
.contents .space::after {content: ""; display: block; position: absolute; top: 100%; width: 100%; height: 100vh; visibility: hidden;}
.contents .space.active {padding-top: 240px; background-color: #fff;}
.contents .space .sub-text {font-family: "NanumMyeongjo"; font-size: 42px; line-height: 1.7; color: #000; transition: 0.8s 0.5s ease-out;}
.contents .space.active .sub-text {font-size: 28px;}

.contents .space .space-info {display: flex; justify-content: space-between; align-items: flex-start; padding: 120px 0 240px;}
.contents .space .space-info .left-wrap, .contents .space .space-info .right-wrap {position: relative; top: 100vh; opacity: 0;}
.contents .space .space-info .left-wrap.active, .contents .space .space-info .right-wrap.active {top: 0; opacity: 1;}

.contents .space .space-info .left-wrap {width: 551px; margin-right: 148px;  transition: 1.8s 0.8s ease-out;}
.contents .space .space-info .left-wrap.sticky {position: sticky; top: 120px !important;}
.contents .space .space-info .left-wrap .space-img {height: 302px;}
.contents .space .space-info .left-wrap .space-img img {position: absolute; opacity: 0; transition: 0.5s;}
.contents .space .space-info .left-wrap .space-img img.show {opacity: 1;}
.contents .space .space-info .left-wrap .viewing-info {margin-top: 70px;}
.contents .space .space-info .left-wrap .viewing-info p {margin-bottom: 30px; font-size: 24px; font-weight: 500; color: #000;}
.contents .space .space-info .left-wrap .viewing-info ul li {position: relative; padding-left: 13px; line-height: 2; color: #6f6f6f;}
.contents .space .space-info .left-wrap .viewing-info ul li::after {content: ""; display: block; position: absolute; top: 50%; left: 0; transform: translateY(-50%); width: 3px; height: 3px; background-color: #bab6ad;}

.contents .space .space-info .right-wrap {width: 1075px; transition: 1s 0.5s ease-out;}
.contents .space .space-info .right-wrap ul li {position: relative; margin-bottom: 100px; transition: 0.3s;}
.contents .space .space-info .right-wrap ul li::after {content: ""; display: block; position: absolute; bottom: -50px; width: 100%; height: 1px; background-color: rgba(0, 0, 0, 0.1); opacity: 0; transition: 0.3s;}
.contents .space .space-info .right-wrap ul li.focus::after {opacity: 1;}
.contents .space .space-info .right-wrap ul li.active::after {opacity: 0;}
.contents .space .space-info .right-wrap ul li:last-of-type {margin-bottom: 0;}
.contents .space .space-info .right-wrap ul li > p {font-family: "NanumMyeongjo"; font-size: 42px; color: #000; cursor: pointer; transition: 0.3s !important;}
.contents .space .space-info .right-wrap ul li .detail-wrap {position: relative; z-index: 1; width: 100%; height: 0; color: #fff; overflow: hidden; transition: 0.7s;}
.contents .space .space-info .right-wrap ul li.active .detail-wrap {height: 580px; margin-top: -42px;}
.contents .space .space-info .right-wrap .detail-wrap > img {position: absolute; top: 0; left: 0; z-index: -1; transform-origin: center center; transition: 0.5s;}
.contents .space .space-info .right-wrap .detail-wrap:hover > img {scale: 1.1;}
.contents .space .space-info .right-wrap .detail-wrap > div {position: absolute; top: 50%; left: 80px; transform: translateY(-50%);}
.contents .space .space-info .right-wrap .detail-wrap > div .detail-title {font-family: "NanumMyeongjo"; font-size: 52px;}
.contents .space .space-info .right-wrap .detail-wrap > div .detail-text {margin-top: 50px; font-size: 18px; line-height: 1.6;}
.contents .space .space-info .right-wrap .detail-wrap > div > a {display: inline-block; margin-top: 189px; padding: 25px 47px; box-sizing: border-box; border: 1px solid #fff; color: #fff;}

.contents .video {position: fixed; bottom: 0; width: 100%; height: 100vh; overflow: hidden;}
.contents .video::after {content: ""; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); transition: 1.2s;}
.contents .video.active::after {visibility: hidden; opacity: 0;}
.contents .video video {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%;}
.contents .video .text-wrap {position: absolute; top: 60%; left: 50%; transform: translate(-50%, -50%); text-align: center; color: #fff; opacity: 0; transition: 1.2s;}
.contents .video.active .text-wrap {top: 50%; opacity: 1;}
.contents .video .text-wrap h3 {margin-bottom: 40px; font-family: "NanumMyeongjo"; font-weight: 400; font-size: 42px;}
.contents .video .text-wrap p {font-size: 18px;}

footer {display: flex; justify-content: space-between; align-items: center; position: fixed; bottom: 0; z-index: 1; width: 100%; padding: 0 120px 60px; box-sizing: border-box; color: #fff; opacity: 0; transition: opacity 1s 0.7s;}
footer.show {opacity: 1;}
footer .company-info img {margin-bottom: 51px;}
footer .company-info p {font-size: 14px; font-weight: 500; line-height: 1.7;}

footer .site-wrap {display: flex; align-items: center;}
footer .site-wrap a {display: block; padding: 20px 60px; box-sizing: border-box; border: 1px solid #fff; font-size: 14px; font-weight: 500; color: #fff;}
footer .site-wrap a:first-of-type {border-right: none;}
